/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --accent-colors: #ffc2e6;
  --accent-pink: #ffc2e6;
  --black-color: #000;
  --title-color: #353430;
  --paragraph-color: #353430;
  --header-color: var(--paragraph-color, #353430);
  --color-text: #353430;
  --text-shadow-color: #ff8dcb;
  --decorated-color: #353430;
  --focus-color: #353430;
  --hover-color: #353430;
  --button-hover-color: #32312D66;
  --button-active-color: #353430;
  --button-text-color: #353430;
  --header-bg-color: #FF8DCB;

}

.theme-light .header__record {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --accent-colors: #ffc2e6;
    --accent-pink: #ffc2e6;
    --black-color: #000;
    --title-color: var(--black-color, #000);
    --paragraph-color: #353430;
    --header-color: var(--paragraph-color, #353430);
    --color-text: #353430;
    --text-shadow-color: #ff8dcb;
    --decorated-color: #353430;
    --focus-color: #353430;
    --hover-color: #353430;
    --button-hover-color: #32312D66;
    --button-active-color: #353430;
    --button-text-color: #353430;
    --header-bg-color: #FF8DCB;
  }

  .header__record {
    display: none;

  }
}